<nav id="main-nav">
    <ul id="main-menu" class="sm sm-mint">
        <li><a href="/gid"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Гид •</a></li>
        <li><a>Библиотеки</a>
            <ul>
                <li><a href="https://azbyka.ru/otechnik/"><i class="fa fa-files-o" aria-hidden="true"></i> «Отечник»</a></li>
                <li><a href="https://azbyka.ru/"><i class="fa fa-level-up" aria-hidden="true"></i> Пять ступеней веры</a></li>
                <li><a href="https://azbyka.ru/fiction/"><i class="fa fa-copyright" aria-hidden="true"></i> Художественная лит-ра</a></li>
                <li><a href="https://azbyka.ru/molitvoslov/"><i class="fa fa-fire" aria-hidden="true"></i> Молитвослов</a></li>
            </ul>
        </li>
        <li><a>Календарь</a>
            <ul class="sub-menu">
                <li><a href="https://azbyka.ru/days/"><i class="fa fa-calendar" aria-hidden="true"></i> Календарь</a></li>
                <li><a href="https://azbyka.ru/extension"><i class="fa fa-chrome" aria-hidden="true"></i> Расширение Chrome</a></li>
            </ul>
        </li>
        <li><a>Медиа</a>
            <ul>
                <li><a href="https://azbyka.ru/bogosluzhenie-online"><i class="fa fa-video-camera" aria-hidden="true"></i> Трансляция из храма</a></li>
                <li><a href="https://azbyka.ru/audio/"><i class="fa fa-volume-up" aria-hidden="true"></i> Аудио</a></li>
                <li><a href="https://azbyka.ru/video/"><i class="fa fa-video-camera" aria-hidden="true"></i> Видео</a></li>
                <li><a href="https://azbyka.ru/parkhomenko/foto/"><i class="fa fa-camera" aria-hidden="true"></i> Фоторассказы</a></li>
                <li><a href="https://azbyka.ru/library/bozhestvennaja-liturgija.shtml"><i class="fa fa-bell" aria-hidden="true"></i> Литургия</a></li>
                <li><a href="https://azbyka.ru/palomnik/"><i class="fa fa-globe" aria-hidden="true"></i> Азбука паломника</a></li>
                <li><a href="https://azbyka.ru/audio/radio.html"><i class="fa fa-volume-up" aria-hidden="true"></i> Радио</a></li>
            </ul>
        </li>
        <li><a>Образование</a>
            <ul>
                <li><a href="https://azbyka.ru/katehizacija/"><i class="fa fa-bullhorn" aria-hidden="true"></i> Катехизация</a></li>
                <li><a href="https://azbyka.ru/dictionary"><i class="fa fa-th-list" aria-hidden="true"></i> Словарь</a></li>
                <li><a href="https://azbyka.ru/otechnik/Spravochniki/"><i class="fa fa-info" aria-hidden="true"></i> Справочники</a></li>
                <li><a href="https://azbyka.ru/shemy/"><i class="fa fa-sitemap" aria-hidden="true"></i> Пособия</a></li>
                <li><a href="https://azbyka.ru/1/vopros"><i class="fa fa-question-circle" aria-hidden="true"></i> Вопросы священнику</a></li>
                <li><a href="https://azbyka.ru/propovedi/"><i class="fa fa-pencil" aria-hidden="true"></i> Проповеди</a></li>
                <li><a href="https://azbyka.ru/forum/"><i class="fa fa-comments-o" aria-hidden="true"></i> Форум</a></li>
                <li><a href="https://azbyka.ru/forum/xfa-blog-home/"><i class="fa fa-file-text-o" aria-hidden="true"></i> Блоги</a></li>
                <li><a href="https://sueverie.net/"><i class="fa fa-street-view" aria-hidden="true"></i> Суеверие.нет</a></li>
            </ul>
        </li>
        <li><a>Проверь себя</a>
            <ul>
                <li><a href="https://azbyka.ru/test/"><i class="fa fa-check-square-o" aria-hidden="true"></i> Богословские тесты</a></li>
                <li><a href="https://azbyka.ru/viktorina/"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Фотовикторины</a></li>
                <li><a href="https://azbyka.ru/crosswords/"><i class="fa fa-pencil" aria-hidden="true"></i> Кроссворды</a></li>
            </ul>
        </li>
        <li><a>Семья и здоровье</a>
            <ul class="sub-menu">
                <li><a href="https://azbyka.ru/deti/"><i class="fa fa-child" aria-hidden="true"></i> Азбука воспитания</a></li>
                <li><a href="https://azbyka.ru/znakomstva/"><i class="fa fa-home" aria-hidden="true"></i> Азбука верности</a></li>
                <li><a href="https://azbyka.ru/zdorovie/"><i class="fa fa-medkit" aria-hidden="true"></i> Азбука здоровья</a></li>
            </ul>
        </li>
    </ul>
</nav>