<div class="book-audio-tray">
    <audio controls preload="metadata" id="audio-player">
        <source src="{{ asset('audio/' ~ book.bookAudioSource.source) }}" type="audio/mpeg">
        Ваш браузер не поддерживает данную функцию
    </audio>
</div>