{#<i class="index_books">{{ bookGroup.title }}</i>#}
{#{% for bookTitle in bookTitles %}#}
{#    {% set link = generate_book_link(path('front.index'), bookTitle.urlTitle, first_page, request_locale) %}#}
{#    • <a href="{{ link }}">{{ bookTitle.title }}</a>#}
{#{% endfor %}#}