<form id="biblia_search" class="form_search fm-speech" action="https://azbyka.ru/biblia/search"
      style="position: absolute;" role="search">
    <input class="inp_search search-form-field hide_cross" type="search" name="q"
           id="fld_search" value="" style="height: 26px !important;"
           placeholder="Текст или Ин.1:1">
    <button class="search-form-button" type="submit" aria-label="Найти"
            style="top: 0 !important;"></button>
    <input type="button" class="speech" style="display: inline-block;">
</form>