<div class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a
                        href="https://azbyka.ru/"
                        title="Главная"
                        itemprop="item"><span
                            itemprop="name">Азбука веры</span><meta itemprop="position" content="0"></a>
            </span> »
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="name">Библия</span>
                        <meta itemprop="position" content="1">
                    </span> »
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <span itemprop="name"></span>
                        <meta itemprop="position" content="2">
                    </span>
</div>