<div class="footer">
    <ul style="list-style-type:square">
        <li><a href="https://azbyka.ru/otechnik/Biblia/oBibliiAV/"><span class="masha_index masha_index79"
                                                                         rel="79"></span>Об этой
                программе</a></li>
        <li><a href="https://azbyka.ru/otechnik/Biblia/"><span class="masha_index masha_index80"
                                                               rel="80"></span>Толкования Библии</a></li>
        <li><a href="https://azbyka.ru/1/bibliya"><span class="masha_index masha_index81" rel="81"></span>О
                Библии</a></li>
        <li><a href="/days/"><span class="masha_index masha_index82" rel="82"></span>Евангелие и Апостол дня
                в Календаре</a></li>
        <li><a href="/biblia/UBS/index.htm"><span class="masha_index masha_index83" rel="83"></span>Библия
                на греческом с подстрочником</a></li>
        <li><a href="https://azbyka.ru/fiction/1/probatov-vasilij/"><span class="masha_index masha_index84"
                                                                          rel="84"></span>Библия в
                стихах</a></li>
        <li><a href="https://azbyka.ru/1/uchebnye_posobiya"><span class="masha_index masha_index85"
                                                                  rel="85"></span>Учебные пособия по цс.
                языку</a></li>
        <li><a href="/biblia/instruction.htm"><span class="masha_index masha_index86" rel="86"></span>Библейские
                ссылки на вашем сайте</a></li>
        <li><span class="fs11pt"><span class="masha_index masha_index87" rel="87"></span>Скачать Библию в Синодальном переводе:</span>
            <a title="MOBI – один из первых форматов. Используется Amazon Kindle и многими другими ридерами."
               rel="nofollow" href="/biblia/misc/bibliya.mobi" class="download"><span
                        class="masha_index masha_index88" rel="88"></span>mobi</a>
            <a title="FB2 – особенно популярен в России, стандарт многих электронных библиотек."
               rel="nofollow" href="/biblia/misc/bibliya.fb2" class="download"><span
                        class="masha_index masha_index89" rel="89"></span>fb2</a>
            <a title="PDF – кроссплатформенный формат электронных документов. Для просмотра можно использовать официальную бесплатную программу Adobe Reader, а также программы сторонних разработчиков. Документ в этом формате позволяет распечатать труд на принтере целиком."
               rel="nofollow" href="/biblia/misc/bibliya.pdf" class="download"><span
                        class="masha_index masha_index90" rel="90"></span>pdf</a>
            <a title="Файл DOC – документ Microsoft Word – популярной программы для работы с текстами. Файлы формата DOC содержат самую разную информацию о форматировании текста – шрифты, их начертание, выравнивание текста, отступы, абзацы, списки, колонки и т.д. "
               rel="nofollow" href="/biblia/misc/bibliya.doc" class="download"><span
                        class="masha_index masha_index91" rel="91"></span>doc</a>
            <a title="PDF – кроссплатформенный формат электронных документов. Для просмотра можно использовать официальную бесплатную программу Adobe Reader, а также программы сторонних разработчиков. Документ в этом формате позволяет распечатать труд на принтере целиком."
               rel="nofollow" href="/biblia/misc/nz.pdf" class="download"
               style="width: auto; padding: 0 7px;"><span class="masha_index masha_index92" rel="92"></span>Новый
                Завет (pdf)</a></li>
        <li><span class="fs11pt"><span class="masha_index masha_index93" rel="93"></span>Скачать Библию на церковносл. языке:</span>
            <a title="PDF – кроссплатформенный формат электронных документов. Для просмотра можно использовать официальную бесплатную программу Adobe Reader, а также программы сторонних разработчиков. Документ в этом формате позволяет распечатать труд на принтере целиком."
               rel="nofollow" href="/biblia/misc/tsya.pdf" class="download"><span
                        class="masha_index masha_index94" rel="94"></span>pdf</a></li>
        <li>
            <a href="https://azbyka.ru/otechnik/Pravoslavnoe_Bogosluzhenie/evangelie-bogosluzebnoe-na-cerkovnoslavanskom-azyke/"><span
                        class="masha_index masha_index95" rel="95"></span>Богослужебное Евангелие</a></li>
    </ul>
    <!--noindex-->
    <a rel="nofollow" href="//top.mail.ru/jump?from=1188435"><img
                src="//top-fwz1.mail.ru/counter?id=1188435;t=317;l=1"
                style="border:0;width:88px;height:15px;" alt="Рейтинг@Mail.ru"></a>
    <div class="feedback">
        <a title="Написать в редакцию" href="mailto:admin@azbyka.ru" class="feedback-link"></a>
    </div>
    <!--/noindex-->

    <span class="abc-counter" data-project="biblia" data-type-1="" data-id-1="" data-type-2="" data-id-2="">
    <i title="Сейчас читают" class="fa fa-user-o"></i>
    <span class="abc-counter-now">735</span>
</span>
</div>